.btn{
    padding: 5px 10px;
    color: white;
    max-width: 150px;
    background-color: #1BD4A5;
    border-radius:  5px; 
}
button{
  display: flex;
  justify-content: center;
  align-items: center;
}